/* a minimalist set of CSS resets */

/* default to border-box */
html {
  box-sizing: border-box;
  font-size: 16px;
  background-image: linear-gradient(45deg, #09203F, #317d9b); 
  color: lightgrey;

}


#nav li{
  display: inline;  
}
/* adjust typography defaults */
body {
  margin: 1rem;
  font-family: sans-serif;
  line-height: 1.5;
}

/* images and videos max out at full width */
img,
video {
  height: auto;
  max-width: 100%;
}

img {
  border-radius: 5%;
  border: 1px solid black;
}

#code {
  font-family: Consolas, monospace;
  font-size: 14px;
  color: black;
  line-height: 1;
  background-color: #797d86;
  display: block;
  width: 100%;
}

a {
  color: white;
}

#nav {
  text-align: center;
  font-size: 20px;
}

#nav, #currentPage {
  display: inline-block
}
#currentPage {
  text-align: center;
  float: left;
}


#imgID1 {
  width: 21%;
  float: left;
}

#imgID2 img{
  width: 10%;
  float: right;
  border-radius: 10%;
}

#imgID3 {
  float: left;
  width: 14%;
  padding: 2px;
}

#imgID4 {
  float: right;
  width: 13%;
}